/public/hot
/public/storage
/storage/*.key
/storage/*.docx

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode
/node_modules/
/public/cursoTesis-2022/img/*

#actualizados
.env
/bootstrap/cache/
/storage/
.env.*
/logs/
*.log
.env.backup
