/public/hot
/public/storage

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode
/node_modules/
/public/cursoTesis-2022/img/*

#actualizados
.env
/bootstrap/cache/
.env.*
/logs/
*.log
.env.backup
/vendor/
storage/framework/sessions/
storage/framework/views/
